<app-header [title]="'تفاصيل الخدمة'"></app-header>
<ion-content [fullscreen]="true" class="pi-10">
 <div class="pi-10">
  <ion-badge class="fw-medium bg-badge p-badge ion-display-inline-flex ion-align-items-center gap-5">
      <img src="../../assets/img/icon/chart-breakout-circle.svg" alt="">
       دورة تدريبية
    </ion-badge>
 
   <h2 class="text-dark fw-black fs-20 lh-28">دورة الإقناع الفعال وتعلم كيفية التأثير بإيجابية في الآخرين</h2>
   <div class="text ion-display-flex ion-align-items-center ion-justify-content-between fw-regular gap-10">
    <div class="deta ion-display-flex ion-justify-content-center ion-align-items-center gap-10">
      <img src="../../assets/img/icon/Icons-right.svg" alt="bank-note">
      <h2 class="fw-regular">15 أغسطس 2024 الساعة 2:00 مساءً</h2>
    </div>
      <div class="butoon">
        <ion-button fill="outline" class="fw-SemiBold text-primary fs-14">إعادة جدولة</ion-button>
      </div>
    </div>
    <div class="ion-display-flex ion-align-content-center  gap-10  pai-top">
      <ion-button class="btn-orange fw-bold fs-14">
        <img src="../../../assets/img/icon/link.svg" alt="link" class="pe-10">
        رابط الجلسة
      </ion-button>
      <ion-button fill="outline" class="btn-outline fw-bold fs-14" (click)="gohome()">
        <img src="../../../assets/img/icon/Icon-bill.svg" alt="link" class="pe-10">
        تواصل مع المستشار
      </ion-button>
    </div>
   <div class="card-content  pai-top">
    <h2 class="fw-bold text-main fs-16">تفاصيل الاستشارة :</h2>
    <p class="fw-regular fs-14 text-forth lh-20 m-0">
      في هذه الجلسة، سنركز على تطوير المهارات القيادية الأساسية للمدراء الجدد أو الطامحين للترقي لمناصب إدارية. سنناقش التحديات الشائعة التي يواجهها المدراء الجدد ونستكشف استراتيجيات فعالة للتغلب عليها
    </p>
   </div>
   <div class="list  pai-top">
   <h2 class="fw-bold text-main fs-16">الأهداف الرئيسية :</h2>
    <ul>
      <li class="pb-10 fw-regular text-forth fs-14">
       تحديد نقاط القوة والضعف في مهاراتك القيادية الحالية
      </li>
       <li class="pb-10 fw-regular text-forth fs-14">
      وضع خطة عمل لتطوير المهارات القيادية الأساسية
      </li>
      <li class="pb-10 fw-regular text-forth fs-14">
      استكشاف أساليب التواصل الفعال مع فريق العمل
      </li>
       <li class="pb-10 fw-regular text-forth fs-14">
       تعلم تقنيات لإدارة الوقت وتحديد الأولويات
      </li>
       <li class="pb-10 fw-regular text-forth fs-14">
        فهم كيفية بناء ثقافة فريق إيجابية ومحفزة
      </li>
    </ul>
   </div>
   <div class="card-content">
    <h2 class="fw-bold text-main fs-16">الملفات المرفقة :</h2>
     <!-- الأزرار -->
  <div class="attached-files">
    <button class="file-btn">
      <img src="../../../assets/img/icon/Page.svg" alt="file1">
      <h2 class="fs-16 fw-SemiBold text-primary m-0">5 تحديات شائعة يواجهها المدراء الجدد وك</h2>
    </button>
    <button class="file-btn">
      <img src="../../../assets/img/icon/File type icon.svg" alt="file1">
      <h2 class="fs-16 fw-SemiBold text-primary m-0">دليل المدير الجديد للقيادة الفعالة</h2>
    </button>
    <button class="file-btn">
      <img src="../../../assets/img/icon/File type icons.svg" alt="file1">
      <h2 class="fs-16 fw-SemiBold text-primary m-0">أساسيات التواصل الفعال في بيئة العمل</h2>
    </button>
  </div>
   </div>
    
    <div class="list ready pai-top">
     <h2 class="fw-bold text-main fs-16">كيفية الاستعداد للجلسة :</h2>
    <ul>
      <li class="fw-regular fs-14 text-forth">
        <span class="fw-bold text-primary fs-14">فكر في أهدافك:</span>
     حدد 2-3 أهداف رئيسية ترغب في تحقيقها من خلال هذه الجلسة.
      </li>
       <li class="fw-regular fs-14 text-forth">
        <span class="fw-bold text-primary fs-14">جهز أسئلتك:</span>
    دوّن أي أسئلة محددة أو تحديات تواجهها في دورك القيادي.
      </li>
       <li class="fw-regular fs-14 text-forth">
        <span class="fw-bold text-primary fs-14">راجع مواد القراءة: </span>
    ستجد في قسم "الموارد" أدناه بعض المقالات المفيدة. إلقاء نظرة عليها سيثري النقاش.
      </li>
    </ul>
   </div>

   <div class="card-content  pai-top">
    <h2 class="fw-bold text-main fs-16">تقييم الجلسة :</h2>
    <p class="fw-regular fs-14 text-forth lh-20">
     قيم تجربتك مع المستشار ملاحظاتك تساعدنا في التحسين 
    </p>
    <!-- <div class="ion-display-flex ion-text-center ion-align-items-center ion-justify-content-center gap-10">
      <img src="../../../assets/img/icon/Stars.svg" alt="stars">
      <img src="../../../assets/img/icon/Stars.svg" alt="stars">
      <img src="../../../assets/img/icon/Stars.svg" alt="stars">
      <img src="../../../assets/img/icon/Stars.svg" alt="stars">
      <img src="../../../assets/img/icon/Stars.svg" alt="stars">
    </div> -->
<div class="stars-wrapper">
   <div class="ion-display-flex ion-text-center ion-align-items-center ion-justify-content-center gap-10">
  
  <img 
    *ngFor="let star of [1,2,3,4,5]" 
    (click)="setRating(star)"
    [src]="star <= selectedRating 
      ? '../../../assets/img/icon/Star 4.svg' 
      : '../../../assets/img/icon/Stars.svg'"
    class="star"
  >

</div>
<!-- textarea -->
<ion-textarea 
  *ngIf="selectedRating > 0"
   class="custom-textarea"
  placeholder=" المزيد من التفاصيل..."
  rows="5">
</ion-textarea>

<div *ngIf="selectedRating > 0" class="submit-wrapper">
  <button class="submit-btn">
    ارسال
    <img src="../../../assets/img/icon/send-03.svg" class="arrow">
  </button>
</div>
</div>
   
   </div>
   <div class="card-content">
    <h2 class="fw-bold text-main fs-16">الدعم والمساعدة :</h2>
    <p class="fw-regular fs-14 text-forth lh-20">
    إذا كانت لديك أي أسئلة أو واجهت أي مشكلات تقنية، يرجى التواصل مع فريق الدعم
    </p>
   </div>
    <ion-button class="btn-orange fw-bold fs-14">
        <img src="../../../assets/img/icon/message-question-square.svg" alt="link" class="pe-10">
       طلب دعم فني
      </ion-button>
 
 </div>
</ion-content>