<ion-header [translucent]="true">
  <app-header [title]="'تفاصيل الخدمة'" [closemodal]="true" [gobackbtn]="true"> </app-header>
</ion-header>
<ion-content [fullscreen]="true" class="pi-10">
 <div class="pi-10 bad-top">
  <div class="ion-display-flex ion-align-items-center gap-10">
     <ion-badge class="fw-medium bg-badge p-badge ion-display-inline-flex ion-align-items-center gap-5">
      <img src="../../assets/img/icon/chart-breakout-circle.svg" alt="">
       دورة تدريبية
    </ion-badge>
  <div class="star ion-display-flex ion-align-items-center gap-5">
    <img src="../../../../assets/img/icon/Star-yellow.svg" alt="Star-yellow">
    <img src="../../../../assets/img/icon/Star-yellow.svg" alt="Star-yellow">
    <img src="../../../../assets/img/icon/Star-yellow.svg" alt="Star-yellow">
    <img src="../../../../assets/img/icon/Star-yellow.svg" alt="Star-yellow">
    <img src="../../../../assets/img/icon/Star 5.svg" alt="Star">
  </div>
  </div>
   <h2 class="text-dark fw-black fs-20 lh-28">دورة الإقناع الفعال وتعلم كيفية التأثير بإيجابية في الآخرين</h2>
   <div class="text ion-display-flex ion-align-items-center fw-regular text-dark fs-14 gap-10 pb-10 mt-8">
      <span class="ion-display-flex ion-align-items-start"> <img src="../../assets/img/icon/bank-note.svg" alt="bank-note" class="pe-5 pt-2">  السعر :</span>
      <span class="text-decoration"> 10500 </span>
       <span class="text-secondery">9700</span>
      <span> ريال سعودي</span>
    </div>
    <div class="frame">
       <img class="frame" src="../../.././assets/img/home/Frame 90.png" alt="frame">
    </div>
    
      <div class="text-trening ion-display-flex ion-align-items-start gap-10 pt-20">
    <div class="image">
      <img src="../../../../assets/img/home/Avatar.png" alt="avatar">
    </div>
       <div class="card-text" (click)="goToConsultant()">
      <p class="fw-bold fs-12 mt-0">المدرب :</p>
      <h2 class="fw-black fs-14 ion-display-flex m-0">د. لمى الصالح<img class="ps-10" src="../../assets/img/icon/verified.svg" alt="verified"></h2>
      <p class="fw-regular fs-12 m-0">ماجستير في علم النفس التطبيقي وشهادات معتمدة في التدريب والتطوير</p>
    </div>
   </div>
    
   
   <div class="card-content list pading-10">
    <h2 class="fw-black text-main fs-16">نظرة عامة :</h2>
    <p class="fw-light fs-14 text-light lh-20 m-0">اكتشف أسرار الإقناع الفعال وتعلم كيفية التأثير بإيجابية في الآخرين من خلال هذه الدورة الشاملة والعملية.</p>
   </div>
   <div class="list pading-10">
    <h2 class="fw-black text-main fs-16">بنهاية هذه الدورة، ستكون لديك القدرة على :</h2>
    <ul>
      <li class="pb-10 fw-light fs-14">
        فهم الأسس النفسية للإقناع والتأثير
      </li>
      <li class="pb-10 fw-light fs-14">
        تطبيق استراتيجيات الإقناع الفعالة في مختلف المواقف
      </li>
      <li class="pb-10 fw-light fs-14">
        تحسين مهارات التواصل اللفظي وغير اللفظي
      </li>
      <li class="pb-10 fw-light fs-14">
        بناء الثقة والمصداقية مع الآخرين
      </li>
      <li class="pb-10 fw-light fs-14">
        التعامل مع الاعتراضات والمقاومة بكفاءة
      </li>
      <li class="pb-10 fw-light fs-14">
        تصميم وتقديم عروض إقناعية قوية
      </li>
    </ul>
   </div>
    <div class="list pading-10">
    <ul>
      <li class="fw-bold fs-14 text-light">
        الأسبوع الأول: أساسيات الإقناع
      </li>
    </ul>
    <ol>
      <li class="pb-10 fw-light fs-14">
       مقدمة في علم النفس الإقناعي
      </li>
      <li class="pb-10 fw-light fs-14">
       نماذج الإقناع الرئيسية
      </li>
      <li class="pb-10 fw-light fs-14">
       تحديد وفهم الجمهور المستهدف
      </li>
      <li class="pb-10 fw-light fs-14">
      أخلاقيات الإقناع والتأثير
      </li>
    </ol>
      <ul>
      <li class="fw-bold fs-14 text-light">
       الأسبوع الثاني: استراتيجيات الإقناع
      </li>
    </ul>
    <ol>
      <li class="pb-10 fw-light fs-14">
       مبادئ روبرت شالديني الستة للإقناع
      </li>
      <li class="pb-10 fw-light fs-14">
       تقنيات الإقناع العاطفي والمنطقي
      </li>
      <li class="pb-10 fw-light fs-14">
       استخدام القصص والأمثلة في الإقناع
      </li>
      <li class="pb-10 fw-light fs-14">
       بناء الحجج المقنعة
      </li>
    </ol>
      <ul>
      <li class="fw-bold fs-14 text-light">
      الأسبوع الثالث: مهارات التواصل المؤثر
      </li>
    </ul>
    <ol>
      <li class="pb-10 fw-light fs-14">
      لغة الجسد وتأثيرها في الإقناع
      </li>
      <li class="pb-10 fw-light fs-14">
      تقنيات الاستماع النشط
      </li>
      <li class="pb-10 fw-light fs-14">
      استخدام الصوت بفعالية
      </li>
      <li class="pb-10 fw-light fs-14">
      التواصل البصري وأهميته
      </li>
    </ol>
   </div>
    <div class="list">
    <h2 class="fw-black text-main fs-16"> منهجية التدريب :</h2>
    <ul>
      <li class="fw-light fs-14 text-light">
      محاضرات تفاعلية أسبوعية (مباشرة عبر الإنترنت)
      </li>
      <li class="fw-light fs-14 text-light">
     تمارين عملية وتطبيقات فردية وجماعية
      </li>
      <li class="fw-light fs-14 text-light">
     دراسات حالة وتحليل مواقف واقعية
      </li>
      <li class="fw-light fs-14 text-light">
     مناقشات جماعية وجلسات عصف ذهني
      </li>
      <li class="fw-light fs-14 text-light">
    مشروع نهائي: تصميم وتقديم عرض إقناعي
      </li>
    </ul>
   </div>


    <div class="lists pading-10">
    <h2 class="fw-black text-main fs-16">الفئة المستهدفة</h2>
    <ul>
      <li class="pb-10 fw-light fs-14">
       المدراء والقادة الراغبون في تحسين قدراتهم الإقناعية
      </li>
      <li class="pb-10 fw-light fs-14">
       محترفو المبيعات والتسويق
      </li>
      <li class="pb-10 fw-light fs-14">
       رواد الأعمال وأصحاب المشاريع
      </li>
      <li class="pb-10 fw-light fs-14">
       أي شخص يرغب في تحسين مهارات الإقناع والتأثير في حياته المهنية والشخصية
      </li>
      
    </ul>
   </div>
  
 </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" class="orang fw-SemiBold" (click)="payservice()">
  
    <img src="../../../../assets/img/icon/credit-card-check.svg" alt="credit-card-check" class="pe-10">
  
    شراء الخدمة
  
  </ion-button>
</ion-footer>
