<ion-header [translucent]="true">
  <app-header [title]="'الإشعارات'" [closemodal]="true" [gobackbtn]="true"> </app-header>
</ion-header>
<ion-content [fullscreen]="true" class="pi-10">
   <div class="ion-display-flex ion-flex-column ion-align-items-center ion-justify-content-center gap-10 ion-text-center margin-top">
    <img src="../../assets/img/icon/Notifications-bell.svg" alt="notification" class="img-fluid">
     <h2 class="fw-bold fs-18 text-main">لا توجد إشعارات جديدة</h2>
   </div>
</ion-content>