<ion-header [translucent]="true">
  <app-header [title]="'تفاصيل المستشار'" [closemodal]="true" [gobackbtn]="true"></app-header>
</ion-header>
<ion-content [fullscreen]="true" class="pi-10 ">
  <div class="ion-display-flex ion-text-center ion-flex-column gap-10">
    <div class="image mt-20">
    <img src="../../../assets/img/home/Avatar.png" alt="avatar">
  </div>
  <div class="text">
    <h2 class="m-0 fw-black text-primary">د. لمي الصالح</h2>
    <div class="ion-display-flex ion-align-items-center ion-justify-content-center gap-5">
      <img src="../../../assets/img/icon/verified.svg" alt="">
      <p class="fw-regular fs-14 text-primary">تم التحقق من اعتماد المستشار</p>
    </div>
  </div>
   <div class="star ion-text-center ion-justify-content-center ion-align-items-center ion-display-flex">
    <img src="../../../assets/img/icon/Star-yellow.svg" alt="star">
    <img src="../../../assets/img/icon/Star-yellow.svg" alt="star">
    <img src="../../../assets/img/icon/Star-yellow.svg" alt="star">
    <img src="../../../assets/img/icon/Star-yellow.svg" alt="star">
    <span class="m-0 fw-regular fs-12 text-primary">( 24 مستفيد )</span>
   </div>
  </div>
  <div class="card-content pi-10">
    <h2 class="fw-black text-main fs-16">عن المستشار :</h2>
    <p class="fw-light fs-14 text-light lh-20 m-0">
      خبيرة في التنمية البشرية والقيادة التنظيمية مع أكثر من 15 عامًا من الخبرة في مجال التدريب والاستشارات. تتميز بأسلوبها التفاعلي وقدرتها على تحفيز الأفراد لتحقيق أقصى إمكاناتهم.
    </p>
   </div>
   <div class="list pi-10">
    <h2 class="fw-black text-main fs-16">الخبرات والتخصصات :</h2>
    <ul>
      <li class="pb-10 fw-regular fs-14">
       القيادة التحويلية
      </li>
      <li class="pb-10 fw-regular fs-14">
       إدارة التغيير التنظيمي
      </li>
      <li class="pb-10 fw-regular fs-14">
       تطوير الذكاء العاطفي
      </li>
      <li class="pb-10 fw-regular fs-14">
       بناء فرق العمل عالية الأداء
      </li>
      <li class="pb-10 fw-regular fs-14">
       التخطيط الاستراتيجي الشخصي والمهني
      </li>
    </ul>
   </div>
   
   <div class="list pi-10">
    <h2 class="fw-black text-main fs-16">المؤهلات والشهادات العلمية :</h2>
    <ol>
      <li class="pb-10 fw-regular fs-14">
      دكتوراه في علم النفس التنظيمي، جامعة كامبريدج
      </li>
      <li class="pb-10 fw-regular fs-14">
      ماجستير في إدارة الأعمال، كلية لندن للاقتصاد
      </li>
      <li class="pb-10 fw-regular fs-14">
      بكالوريوس في علم النفس، الجامعة الأمريكية في بيروت
      </li>
      <li class="pb-10 fw-regular fs-14">
      مدرب معتمد من الاتحاد الدولي للمدربين (ICF)
      </li>
      <li class="pb-10 fw-regular fs-14">
      خبير معتمد في إدارة التغيير (CCMP)
      </li>
      <li class="pb-10 fw-regular fs-14">
      ممارس معتمد في البرمجة اللغوية العصبية (NLP)
      </li>
    </ol>
   </div>
   
    <!-- <ion-segment value="custom">
  <ion-segment-button value="custom">
    <ion-label>الكل</ion-label>
  </ion-segment-button>
  <ion-segment-button value="segment">
    <ion-label>الخدمات</ion-label>
  </ion-segment-button>
  <ion-segment-button value="buttons">
    <ion-label>البرامج</ion-label>
  </ion-segment-button>
</ion-segment> -->






<ion-segment value="personal" class="custom-segment p-10">
  <ion-segment-button value="personal">
    <ion-label class="fw-medium fs-14">
     الكل
    </ion-label>
  </ion-segment-button>
  <ion-segment-button value="business">
    <ion-label class=" fw-medium fs-14">
      الكتب
    </ion-label>
  </ion-segment-button>
   <ion-segment-button value="video">
    <ion-label class=" fw-medium fs-14">
     الفيديو
    </ion-label>
  </ion-segment-button>
</ion-segment>

<ion-card class="book-card" data-type="book">
  <ion-card-header>
    <ion-card-title class="fw-black text-main fs-16">تقنيات تحسين التركيز في عالم الأعمال</ion-card-title>
    <ion-card-subtitle>
    استراتيجيات عملية لتعزيز التركيز والإنتاجية في بيئة العمل الحديثة. يغطي تقنيات مثل طريقة بومودورو
وإدارة الإشعارات، وتصميم مساحة عمل محفزة للتركيز أهمية التواصل المهني في العصر الحالي ويقدم نصائح حول كيفية بناء وصيانة شبكة علاقات مهنية قوية باستخدام الأدوات الرقمية والتقليدية
    </ion-card-subtitle>
  </ion-card-header>
 
  <ion-card-content>
     <ion-badge class="fw-medium bg-book p-badge ion-display-inline-flex ion-align-items-center gap-5">
       <img src="../../assets/img/icon/book-open-02.svg" alt="book">
      كتاب
    </ion-badge>
    <div class="text ion-display-flex ion-align-items-center fw-regular text-dark fs-14 gap-10 pb-10 mt-8">
      <span class="ion-display-flex ion-align-items-start"> <img src="../../assets/img/icon/bank-note.svg" alt="bank-note" class="pe-5 pt-2">  السعر :</span>
      <span class="text-decoration"> 2500 </span>
       <span class="text-secondery">2000</span>
      <span> ريال سعودي</span>
    </div>
     <div class="star ion-display-flex ion-align-items-center gap-10">
    <p class="fw-regular">تقييم المشتركين :</p>
    <div class="image ion-display-flex ion-align-items-center gap-5">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
    </div>
   </div>
   <div class="avatar ion-display-flex ion-align-items-center gap-10">
    <img src="../../assets/img/home/Avatar.png" alt="avatar">
    <div class="ion-display-flex ion-flex-column gap-5">
      <h2 class="fw-black">د.  لمي الصالح<img class="pad-10" src="../../assets/img/icon/verified.svg" alt="verified"></h2>
      <p class="fw-regular">أستاذ اقتصاد الأسواق الناشئة</p>
    </div>
   </div>
  </ion-card-content>
 
</ion-card>

<ion-card data-type="video">
   <img alt="Silhouette of mountains" class="image-head" src="../../assets/img/home/Frame 50.png" />
  
  <ion-card-header>
    <div class="ion-display-flex  ion-align-items-center gap-10 pading-10 pe-12">
      <ion-badge class="fw-medium bg-video p-badge ion-display-inline-flex ion-align-items-center gap-5">
        <img src="../../assets/img/icon/video-recorder.svg" alt="book">
     فيديو
    </ion-badge>
     <h2 class="fw-bold fs-12 m-0">6 جلسات<span class="fw-regular">(60 دقيقة)</span></h2>
    </div>
    <ion-card-title class="fw-bold fs-18">دورة احتراف إدارة المشاريع بفعالية</ion-card-title>
    <ion-card-subtitle>
     كتاب يستكشف العلم وراء تكوين العادات وكيفية استخدام هذه المعرفة لبناء عادات إيجابية تدعم النجاح الشخصي والمهني. يقدم استراتيجيات عملية لتغيير السلوكيات غير المرغوب فيها وتبني أنماط حياة أكثر إنتاجية.
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
     <div class="text ion-display-flex ion-align-items-center fw-regular text-dark fs-14 gap-10 pb-10 mt-8">
      <span class="ion-display-flex ion-align-items-start"> <img src="../../assets/img/icon/bank-note.svg" alt="bank-note" class="pe-5 pt-2">  السعر :</span>
      <span class="text-decoration"> 10500 </span>
       <span class="text-secondery">9700</span>
      <span> ريال سعودي</span>
    </div>
     <div class="star ion-display-flex ion-align-items-center gap-10">
    <p class="fw-regular">تقييم المشتركين :</p>
    <div class="image ion-display-flex ion-align-items-center gap-5">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
    </div>
   </div>
   <div class="avatar ion-display-flex ion-align-items-center gap-10">
    <img src="../../assets/img/home/Avatar.png" alt="avatar">
    <div class="ion-display-flex ion-flex-column gap-5">
      <h2 class="fw-black">د.  لمي الصالح<img class="pad-10" src="../../assets/img/icon/verified.svg" alt="verified"></h2>
      <p class="fw-regular">أستاذ اقتصاد الأسواق الناشئة</p>
    </div>
   </div>
  </ion-card-content>
 
</ion-card>

<ion-card data-type="course">
  <ion-card-header>
    <ion-card-title class="fw-bold fs-18">تقنيات تحسين التركيز في عالم الأعمال</ion-card-title>
    <ion-card-subtitle>
    استراتيجيات عملية لتعزيز التركيز والإنتاجية في بيئة العمل الحديثة. يغطي تقنيات مثل طريقة بومودورو
وإدارة الإشعارات، وتصميم مساحة عمل محفزة للتركيز أهمية التواصل المهني في العصر الحالي ويقدم نصائح حول كيفية بناء وصيانة شبكة علاقات مهنية قوية باستخدام الأدوات الرقمية والتقليدية
    </ion-card-subtitle>
  </ion-card-header>
 
  <ion-card-content>
    <ion-badge class="fw-medium bg-badge p-badge ion-display-inline-flex ion-align-items-center gap-5">
      <img src="../../assets/img/icon/chart-breakout-circle.svg" alt="">
       دورة تدريبية
    </ion-badge>
     <div class="text ion-display-flex ion-align-items-center fw-regular text-dark fs-14 gap-10 pb-10 mt-8">
      <span class="ion-display-flex ion-align-items-start"> <img src="../../assets/img/icon/bank-note.svg" alt="bank-note" class="pe-5 pt-2">  السعر :</span>
      <span class="text-decoration"> 2500 </span>
       <span class="text-secondery">250</span>
      <span> ريال سعودي</span>
    </div>
     <div class="star ion-display-flex ion-align-items-center gap-10">
    <p class="fw-regular">تقييم المشتركين :</p>
    <div class="image ion-display-flex ion-align-items-center gap-5">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
    </div>
   </div>
   <div class="avatar ion-display-flex ion-align-items-center gap-10">
    <img src="../../assets/img/home/Avatar.png" alt="avatar">
    <div class="ion-display-flex ion-flex-column gap-5">
      <h2 class="fw-black">د.  لمي الصالح<img class="pad-10" src="../../assets/img/icon/verified.svg" alt="verified"></h2>
      <p class="fw-regular">أستاذ اقتصاد الأسواق الناشئة</p>
    </div>
   </div>
  </ion-card-content>
 
</ion-card>

<ion-card data-type="book">
   <img alt="Silhouette of mountains" class="image-head" src="../../assets/img/home/Frame 49.png" />

  <ion-card-header>
     <div class="ion-display-flex  ion-align-items-center gap-10 pading-10 pe-12">
      <ion-badge class="fw-medium bg-video p-badge ion-display-inline-flex ion-align-items-center gap-5" >
        <img src="../../assets/img/icon/video-recorder.svg" alt="book">
     فيديو
    </ion-badge>
      <h2 class="fw-bold fs-12 m-0">6 جلسات<span class="fw-regular">(60 دقيقة)</span></h2>
    </div>
    <ion-card-title class="fw-bold fs-18">دورة احتراف إدارة المشاريع بفعالية</ion-card-title>
    <ion-card-subtitle>
     كتاب يستكشف العلم وراء تكوين العادات وكيفية استخدام هذه المعرفة لبناء عادات إيجابية تدعم النجاح الشخصي والمهني. يقدم استراتيجيات عملية لتغيير السلوكيات غير المرغوب فيها وتبني أنماط حياة أكثر إنتاجية.
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
     <div class="text ion-display-flex ion-align-items-center fw-regular text-dark fs-14 gap-10 pb-10 mt-8">
      <span class="ion-display-flex ion-align-items-start"> <img src="../../assets/img/icon/bank-note.svg" alt="bank-note" class="pe-5 pt-2">  السعر :</span>
      <span class="text-decoration">10500 </span>
       <span class="text-secondery">7500</span>
      <span> ريال سعودي</span>
    </div>
     <div class="star ion-display-flex ion-align-items-center gap-10">
    <p class="fw-regular">تقييم المشتركين :</p>
    <div class="image ion-display-flex ion-align-items-center gap-5">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
      <img src="../../assets/img/icon/Star 4.svg" alt="star">
    </div>
   </div>
   <div class="avatar ion-display-flex ion-align-items-center gap-10">
    <img src="../../assets/img/home/Avatar.png" alt="avatar">
    <div class="ion-display-flex ion-flex-column gap-5">
      <h2 class="fw-black">د.  لمي الصالح<img class="pad-10" src="../../assets/img/icon/verified.svg" alt="verified"></h2>
      <p class="fw-regular">أستاذ اقتصاد الأسواق الناشئة</p>
    </div>
   </div>
  </ion-card-content>
 
</ion-card>
</ion-content>
