<ion-header [translucent]="true">
  <ion-toolbar >

  <div class="header container ion-display-flex ion-justify-content-between ion-align-items-center">
    
    <img src="../../assets/img/icon/menu-toggle.svg" style="cursor: pointer;">

    <img src="../../assets/img/logo/Logo.svg" alt="logo" class="madarek">

    <div class="notification-wrapper">
      <img src="../../assets/img/icon/Notifications-bell.svg" alt="notification">
      <ion-badge color="warning" class="notification-badge">2</ion-badge>
    </div>
  </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
 <div class="search-wrapper">
  <div class="search-label">
    <img src="../../assets/img/icon/search-sm.svg" alt="search" class="search-icon">
    <input type="text" class="search-input" placeholder="ماذا تريد أن تتعلم اليوم؟">
  </div>
</div>
  <!-- <swiper-container autoplay="true" autoplay-delay="2500" loop="true" pagination="true">
    <swiper-slide>
      <img src="../../assets/img/home/Frame 20.png" class="w-100">
    </swiper-slide>
  
    <swiper-slide>
      <img src="../../assets/img/home/Frame 49.png" class="w-100">
    </swiper-slide>
  
    <swiper-slide>
      <img src="../../assets/img/home/Frame 20.png" class="w-100">
    </swiper-slide>
  
  </swiper-container> -->
  </div>
</ion-content>
