.h2-with-icon {
  display: flex;
  align-items: center;
  gap: 8px; /* المسافة بين الصورة والنص */
}
/*--------date time----------*/
ion-datetime{
    direction: ltr;
    width: 100%;
    max-width: 100%;
}
calendar-action-buttons{
    color: red !important;
}

/*----------------------*/
.time-chossen {
     display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 columns of equal width
  gap: 10px; // space between items
}
.time-chossen .text{
    border: 1px solid #D3D7DE;
    padding: 5px 10px;
    border-radius: 10px;
    // width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-chossen .text span{
    color: #394E75;
}
.time-chossen .text.active{
    background-color: #E4541B;
}
.time-chossen .text.active span {
    color: #fff;

}



ion-datetime {
  --ion-color-primary: #EA631C;
}
ion-datetime {
  --background: #fff;
  --color: #000;
  --highlight-color: #EA631C;
}
ion-datetime::part(calendar-header) {
  justify-content: space-between;
  align-items: center;
}
ion-datetime::part(calendar-month-year) {
  text-align: center;
  font-weight: 600;
}
ion-datetime::part(calendar-next-prev) {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
ion-datetime::part(calendar-day active) {
  background: #EA631C;
  color: #fff;
  border-radius: 50%;
}

.service{
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.06), 0 1px 3px 0 rgba(16, 24, 40, 0.1);
  padding: 12px 16px;
  border-radius: 12px;
  margin-block: 24px;
}

// .fixed-btn {
//   position: fixed;
//   bottom: 0px;         
//   left: 50%;            
//   transform: translateX(-50%); 
//   width: 90%;          
//   max-width: 400px;    
//   z-index: 999;
// }