<ion-content [fullscreen]="true" class="on-borading">
 <div class="ion-margin ion-display-flex ion-justify-content-start ion-padding w-100">
    <span class="fw-SemiBold">English</span>
  </div>
  <div class=" ion-text-center ion-margin-top ion-padding hallo">
    <img src="../../../../assets/img/logo/Logo.svg" alt="logo" class="w-200">
    <h2 class="fw-black fs-24">مرحباً بك  </h2>
   
 <div  class="phone-item">
    <ion-label class="fw-medium"> رقم الجوال :</ion-label>
    <ion-input type="tel" placeholder="+966" [(ngModel)]="phone">
      <img src="../../../../assets/img/icon/Flag Rectangle.svg" slot="end">
    </ion-input>
  </div>
  <!-- الشروط -->
  <div class="terms">
     <ion-checkbox [(ngModel)]="agreeTerms"></ion-checkbox>
    <ion-label>اوافق علي <span>الشروط والأحكام</span> </ion-label>
  </div>
<ion-button expand="block" class="orang fw-SemiBold" (click)="sendCode()">أرسل رمز التفعيل<img src="../../../../assets/img/onborading/send-04.svg" alt="" class="ps-10"></ion-button>
 
<h2 class="fw-SemiBold fs-12 text-forth">او الدخول بأستخدام</h2>

  <!-- دخول بحساب -->
  <ion-button expand="block" fill="outline" class="google-btn fw-SemiBold">
    <img src="../../../../assets/img/onborading/Social icon.svg" class="google-icon ms-10">
    الدخول بحساب قوقل
    
  </ion-button>

  <ion-button expand="block" fill="outline" class="guest-btn fw-SemiBold"(click)="goToConsultant()">
    الدخول كزائر
  </ion-button>
 
    <!-- <p class="fw-SemiBold join" [routerLink]="['/consultant/tabs/tab1']">انضم لفريق مدارك كمرشد أو مستشار</p> -->
   
<!-- <p class="fw-SemiBold join" >
  انضم لفريق مدارك كمرشد أو مستشار
</p> -->

  </div>
</ion-content>