// /*---modal-----*/
// .modal-content {
//   --background: #fff;
//   width: 75%;
//   height: 40% !important;
// }

// .modal-box {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   padding: 20px;
//   gap: 10px;
// }

// .modal-image {
//  margin: 20px 0;
//   object-fit: contain;
// }

// .btn-orange {
//   --background: #E4541B;
//   --border-radius: 12px;
//   --border:none !important;
// }

// .btn-outline-custom {
//   --background: transparent;        /* مفيش باكجراوند */
//   --color: #000;                    /* لون النص */
//   --border-color: #D3D7DE;          /* لون البوردر */
//   --border-width: 1px;
//   --border-style: solid;
//   --border-radius: 12px;            /* لو عايزه مدور */
// }


// .label-with-line {
//   position: relative;
//   padding-inline-start: 16px; /* مساحة بين الخط والـ label */

//   &::before {
//     content: "";
//     position: absolute;
//     right: 0px;    /* المسافة بين الـ avatar والخط */
//     top: 0;
//     bottom: 0;
//     width: 1px;
//     background-color: #CDD3DD;
//   }
// }

// .bottom-modal {
//   --height: auto;
//   --border-radius: 20px 20px 0 0;
// }

// .bottom-modal ion-content {
//   --padding-top: 20px;
//   --padding-bottom: 20px;
// }
ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}