<!-- <ion-content class="ion-padding">
  <h2>سجل دخول</h2>
  <p>يجب تسجيل الدخول لاستخدام هذه الميزة</p>

  <ion-button expand="block" (click)="goToLogin()">
    تسجيل الدخول
  </ion-button>

  <ion-button expand="block" fill="clear" (click)="close()">
    إلغاء
  </ion-button>
</ion-content> -->


 <ion-content class="modal-content">
        <div class="modal-box ion-display-flex ion-flex-column ">
             <img src="../../assets/img/icon/hand-groups.png" class="modal-image" />
          <h2 class=" text-dark fw-black fs-20 ion-text-center">سجل الآن لتبدأ رحلتك معنا</h2>
          <ion-button expand="block" class="btn-orange fw-SemiBold" (click)="goToLogin()">
            <img src="../../assets/img/icon/key-02.svg" alt="key" class="pe-10" >
            سجل عضوية جديدة
          </ion-button>
          <ion-button expand="block" class="btn-outline-custom fw-SemiBold"  (click)="close()">
            استمر بالتصفح
          </ion-button>
        </div>
      </ion-content>