.on-borading {
 --background: url("../../../../assets/img/onborading/Pic-2.png") no-repeat center center / cover;
}
.ion-text-center {
   background-color: #fff;
    width: 100%;
    position: relative;
}