<ion-content [fullscreen]="true" class="on-borading">
  <div class="ion-display-flex h-100 ion-flex-column ion-justify-content-between">
 <div class="ion-margin ion-display-flex ion-justify-content-between ion-padding ">
  <span class="fw-SemiBold">English</span>
  <span class="fw-SemiBold" [routerLink]="['/mobilecode']">تخطي</span>
  </div>
  <div class="image ion-text-center ion-margin-top ion-padding">
    <img src="../../../../assets/img/onborading/Frame 51.svg" alt="">
    <h2 class="fw-black fs-24">تعلم بطريقتك الخاصة</h2>
    <p class="fw-regular">استمتع بمجموعة واسعة من المنتجات التدريبية التي تلبي احتياجاتك</p>
    <div class="ion-display-flex ion-justify-content-between ion-align-items-center ion-gap-10">
       <div class="border pe-10">
         <ion-button expand="block" class="transpernt" routerLink="/"><img src="../../../../assets/img/icon/arrow-narrow-right.svg" alt="arrow"></ion-button>
       </div>
       <ion-button expand="block" class="orang fw-SemiBold"  [routerLink]="['/onboardingthree']">التالي<img src="../../../../assets/img/onborading/arrow-narrow-left.svg" alt="" class="ps-10"></ion-button>
      
    </div>
   
  </div>
  </div>
</ion-content>

