<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" class="on-borading">
  <div class="ion-display-flex h-100 ion-flex-column ion-justify-content-between">
 <div class="ion-margin ion-display-flex ion-justify-content-between ion-padding ">
  <span class="fw-SemiBold">English</span>
  <span class="fw-SemiBold" [routerLink]="['/mobilecode']">تخطي</span>
  </div>
  <div class="image ion-text-center ion-margin-top ion-padding">
    <img src="../../../../assets/img/onborading/Frame 53.png" alt="Onboarding Image">
    <h2 class="fw-black fs-24">مرحباً بك في مدارك</h2>
    <p class="fw-regular">رحلتك نحو النجاح تبدأ هنا، مدارك منصتك الشاملة للتطوير الذاتي والمهني</p>
    <ion-button expand="block" class="orang fw-SemiBold" routerLink="/onboardingtwo">التالي
      <img src="../../../../assets/img/onborading/arrow-narrow-left.svg" alt="" class="ps-10"></ion-button>
  </div>
  </div>
</ion-content>
