/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';




@font-face {
    font-family: 'Vazirmatn-bold';
    src: url(../src/assets/fonts/Vazirmatn-Bold.ttf);
}
@font-face {
    font-family: 'Vazirmatn-SemiBold';
    src: url(../src/assets/fonts/Vazirmatn-SemiBold.ttf);
}
@font-face {
    font-family: 'Vazirmatn-extrabold';
    src: url(../src/assets/fonts/Vazirmatn-ExtraBold.ttf);
}
@font-face {
    font-family: 'Vazirmatn-regular';
    src: url(../src/assets/fonts/Vazirmatn-Regular.ttf);
}
@font-face {
    font-family: 'Vazirmatn-black';
    src: url(../src/assets/fonts/Vazirmatn-Black.ttf);
}
@font-face {
    font-family: 'Vazirmatn-medium';
    src: url(../src/assets/fonts/Vazirmatn-Medium.ttf);
}
@font-face {
    font-family: 'Vazirmatn-light';
    src: url(../src/assets/fonts/Vazirmatn-light.ttf);
}
body{
    direction: rtl;
}
.fw-bold{
    font-family: 'Vazirmatn-bold';
}
.fw-SemiBold{
    font-family: 'Vazirmatn-SemiBold' !important;
}
.fw-extre-bold{
    font-family: 'Vazirmatn-extrabold';
}
.fw-regular{
    font-family: 'Vazirmatn-regular'!important;
}
.fw-black{
    font-family: 'Vazirmatn-black';
}
.fw-medium{
    font-family: 'Vazirmatn-medium';
}
.fw-light{
    font-family: 'Vazirmatn-light';
}
body{
    font-family: 'Vazirmatn-regular' !important;
}
.container{
    // width: 90%;
    margin: 0 auto;
    padding-inline: 20px;
}
:root {
    --text-primary: #061B42 !important;
    --main-orange: #E4541B !important;
    --text-dark: #072253 !important;
    --text-forth: #020A18 !important;
    --text-fifth:#6A7A98 !important;
    --text-bord:#D3D7DE !important;
    --text-sixth:#ED6666 !important;
    --text-red: #E10000 !important;
    --text-light: #323949 !important;
    --text-darkblue: #9CA7BA !important;
    --text-serv: #394E75 !important;
    --text-green: #009554 !important;
    --text-dey: #6B7280 !important;
    --text-third: #333333 !important;
    --bg-badge: #0E9384;
    --bg-book: #CB9E00;
    --bg-video:#E10000;
    --bg-finish: #00BA69;
    --font-10: 10px !important;
    --font-12: 12px !important;
    --font-14: 14px !important;
    --font-16: 16px !important;
    --font-18: 18px !important;
    --font-20: 20px !important;
    --font-24: 24px !important;
    --font-32: 32px !important;
    --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
}
.fs-10{
    font-size: var(--font-10);
}
.fs-12{
    font-size: var(--font-12);
}
.fs-14{
    font-size: var(--font-14);
}
.fs-16{
    font-size: var(--font-16) !important;
}
.fs-18{
    font-size: var(--font-18) !important;
}
.fs-20{
    font-size: var(--font-20);
}
.fs-24{
    font-size: var(--font-24);
}
.fs-32{
    font-size: var(--font-32);
}
.lh-28{
    line-height: 28px;
}
.lh-20{
    line-height: 20px;
}
.lh-24{
    line-height: 24px;
}
.m-0{
    margin: 0px !important;
}
.text-primary{
    color: var(--text-primary);
}
.m-10{
    margin: 10px 0;
}
.text-main {
  color: var(--main-orange);
}
.text-dark{
    color: var(--text-dark);
}
.text-forth{
    color: var(--text-forth);
}
.text-fifth{
    color: var(--text-fifth);
}
.text-bord{
    color: var(--text-bord);
}
.text-sixth{
    color: var(--text-sixth);
}
.text-red{
    color: var(--text-red);
}
.text-light{
    color: var(--text-light);
}
.text-darkblue{
    color: var(--text-darkblue);
}
.text-serv{
    color: var(--text-serv);
}
.text-green{
    color: var(--text-green);
}
.text-dey{
    color: var(--text-dey);
}
.text-third{
    color: var(--text-third);
}
.bg-badge{
    --background: var(--bg-badge);
}
.bg-book{
    --background: var(--bg-book);
}
.bg-video{
    --background: var(--bg-video);
}
.bg-finish{
    --background: var(--bg-finish);
}
.bg-cancel{
    --background: var(--text-fifth);
}

.bg-orange {
  --background: var(--main-orange) !important; /* مهم جدًا */
  --background-activated: var(--main-orange) !important; /* لما تدوس عليه */
  --background-focused: var(--main-orange) !important;   /* لما يكون focus */
  --background-hover: var(--main-orange) !important;     /* hover */
  color: #fff !important; /* لو عايز النص يبقى أبيض */
}
.orang {
  --background: #E4541B !important;   
  --color: #fff;          
  --border-radius: 10px; 
  height: 50px;
  width: 100%;
}
.red{
  --background: #E61A1A !important;   
  --color: #fff;          
  --border-radius: 10px; 
  height: 50px;
  width: 100%;  
}
.text-decoration{
  text-decoration: line-through;
}
.light{
  --background: #F6F7F9 !important;
  border-color: #D3D7DE !important;
}
.gap-10{
    gap: 10px;
}
.gap-5{
    gap: 5px;
}
.gap-4 {
  gap: 4px;
}
.mt-8 {
    margin-top: 8px;
}
.h-100 {
    height: 100%;
}
.mt-12 {
    margin-top: 12px;
}
.pt-2 {
    padding-top: 2px;
}
.ps-10{
    padding-inline-start: 10px !important;
}
.pe-10{
    padding-inline-end: 10px !important;
}
.pe-12{
    padding: 8px 0 12px;
}
.pe-5{
    padding-inline-end: 5px !important;
}
.pi-10{
    padding-inline: 20px;
}
.p-10{
    padding: 20px !important;
}
.pad-10{
    padding-inline: 10px !important;
}
.pad-20{
    padding-inline: 20px !important;
}
.pai-top{
    padding-top: 15px;
}
.bad-top{
    padding-top: 30px;
}
.pt-20{
    padding-top: 20px;
}
.pb-10{
    padding-bottom: 10px;
}
.pading-10{
    padding: 10px 0;
}
.pading-15{
    padding: 20px 20px 0px 0px;
}
.m-0{
    margin: 0px;
}
.mt-10{
 margin-top: 20%;
}
.mt-20{
    margin-top: 10%;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-30{
    margin-top: 30px;
}
.margin-top{
    margin-top: 30% !important;
}
.position-relative{
    position: relative;
}
.p-badge{
    padding: 5px 12px;
   border-radius: 30px;
   font-size: 12px;
}
.w-100{
    width: 100%;
   
}
.w-32{
    width: 32px;
    height: 32px;
}
ion-header{
    padding: 15px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.header{
    padding: 10px 20px;
    background-color: #fff;
    z-index: 99;
  }
.edit-header{
    background-color: #fff;
    padding: 10px;
}
ion-header{
  padding: 0px !important;
}
ion-footer{
    padding: 0 20px;
}
.avatar {
  margin: 12px 0 24px;
}

.avatar h2,
.avatar p {
  margin: 0;
  color: #061B42;
}

.avatar p {
  font-size: 12px;
}

.custom-segment{
  display:flex;
  gap:10px;
  background:transparent;
  padding-inline: 20px;
}

.custom-segment ion-label{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

/* شكل الزر */
.custom-segment ion-segment-button{
  --background: #fff;
  --color:#344054;
 --padding: 0px !important;
  border:2px solid #EAECF0;
  border-radius:40px;
   justify-content: center;
  align-items: center;
  height: 40px !important;
  flex:1;
  --background-hover: 
none
;
overflow: hidden;
}

/* الزر المختار */
.custom-segment ion-segment-button.segment-button-checked{
 background:#E4541B !important;
color:#fff !important;
 --indicator-color: none;
  border-color:#E4541B !important;
  display: flex;
  justify-content: center;
  align-items: center;
  --color-checked: none;
  height: 40px;
  overflow: hidden;
}
textarea{
    --highlight-color-focused: transparent !important;
    padding-inline: 10px !important;
}

/* الحالة العادية */
.custom-segment ion-segment-button img{
  filter: brightness(0);
}

/* عند الاختيار */
.custom-segment ion-segment-button.segment-button-checked img{
  filter: brightness(0) invert(1);
}
ion-app {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom) !important;
}
ion-header {
  padding-top: env(safe-area-inset-top);
  box-shadow: none !important;
  background: #fff;
}
ion-toolbar {
  padding-top: env(safe-area-inset-top);
}
ion-footer {
  padding-bottom: env(safe-area-inset-bottom) ;
  background: #fff;
  box-shadow: none !important;
}

ion-content {
  --padding-top: env(safe-area-inset-top);
  --padding-bottom: env(safe-area-inset-bottom) !important;
}

ion-tab-bar,
ion-tab-bar ion-tab-button {
    background: whitesmoke;
}
ion-tab-bar {
    //  height: calc(56px + env(safe-area-inset-bottom));
      padding-bottom: env(safe-area-inset-bottom)!important; ;

}
@media only screen and (min-width: 768px) and (min-height: 768px) {
    ion-modal {
        --width: 100%;
        --height: 100%;
    }
}


.transpernt {
  --background: transparent;
  border: 1px solid #D3D7DE;
  border-radius: 10px;
  --box-shadow: none;
  height: 50px;
  width: 100%;
}
.ion-text-center {
   background-color: #fff;
    width: 100%;
    position: relative;
}
.ion-text-center::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to top,
    #ffffff 0%,
   
    rgba(255, 255, 255, 0.1) 65%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}


ion-toast{
    --padding: 10px 20px;
}
ion-toast.custom-toast {
  --background:var(--main-orange) ;
  --color: #fff;

  --border-radius: 10px;
  --width: 100%;
 

  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 16px;
  --padding-end: 16px;
}
.header-md {
    /* -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); */
    box-shadow: none !important;
}

.modal-content {
  --background: #fff;
}

.modal-content .modal-box {
  display: flex;
  flex-direction: column;
    
  justify-content: center;
 
  padding: 20px;
  gap: 10px;
}
.modal-content .modal-image {
 margin: 20px auto;
  object-fit: contain;
  display: block;
}


.modal-content .btn-orange {
  --background: #E4541B;
  --border-radius: 12px;
  --border:none !important;
}
.modal-content .btn-outline-custom {
  --background: transparent;        /* مفيش باكجراوند */
  --color: #000;                    /* لون النص */
  --border-color: #D3D7DE;          /* لون البوردر */
  --border-width: 1px;
  --border-style: solid;
  --border-radius: 12px;            /* لو عايزه مدور */
}
.modal-content .label-with-line {
  position: relative;
  padding-inline-start: 16px; /* مساحة بين الخط والـ label */
  &::before {
    content: "";
    position: absolute;
    right: 0px;    /* المسافة بين الـ avatar والخط */
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #CDD3DD;
  }
}